* {
  padding: 0;
  margin: 0;
}
/* id_ed25519  id_ed25519.pub  known_hosts */
/* ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMZRn6bUHcXE9mv1qKdyLWgDO4C51YAiUVnzAs8Xz0X3 mmarew@gmail.com */
nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  /* background-color: #221f21; */
  background-image: linear-gradient(#221f21, transparent);
  color: #e7e3dc;
  width: 100%;
  /* opacity: 0.6; */
  padding-bottom: 90px;
  z-index: 4;
}
.navLinks {
  opacity: 1;
}

nav ul {
  display: flex;
  list-style: none;
  margin-top: 4vw;
}
li {
  margin: 1vw;
}
.navLinks {
  text-decoration: none;
  color: white;
  /* font-family: "Maghfirea", sans-serif; */
  font-family: "Noto Serif", serif;
  font-family: "Nunito", sans-serif;
  font-family: "Source Serif Pro", serif;
}
.noneHomeNav {
  color: black;
  background-color: #e7e3dc;
}
.logoImg {
  height: 40px;
  z-index: -1;
}

.PEMMCountry {
  font-size: 12px;
  width: 165px;
  margin-left: -5px;
}
.rightUL {
  position: relative;
  bottom: -33px;
}
.logoImgHome {
  filter: invert(100%) sepia(1%) saturate(2242%) hue-rotate(266deg)
    brightness(100%) contrast(126%);
}
